.game {
    width: 300px;
    display: grid;
    background-color: #42405e;
    border-radius: 4px;
    grid-template-columns: 1fr 1fr 1fr;
}

.markupField {
    width: 100%;
    height: 100px;
    position: relative;
}

.gameField {
    width: 100%;
    height: 100%;
}

.markupField:nth-child(7):before, .markupField:nth-child(8):before {
    position: absolute;
    border-right: 6px solid #a954c2;
    border-radius: 30px;
    width: 0px;
    height: 320px;
    bottom: -10px;
    left: 98px;
    content: '';
}

.markupField:nth-child(1):before, .markupField:nth-child(4):before {
    position: absolute;
    border-bottom: 6px solid #a954c2;
    border-radius: 50px;
    width: 320px;
    height: 0px;
    left: -10px;
    bottom: -4px;
    content: '';
}

.nolik:after {
    position: absolute;
    border: 6px solid #c5c5c5;

    width: 74px;
    height: 74px;

    left: 50%;
    margin-left: -42px;

    top: 50%;
    margin-top: -42px;

    border-radius: 50%;
    content: "";
}

.krestik:before, .krestik:after {
    position: absolute;
    background-color: #c5c5c5;

    width: 6px;
    height: 110px;

    left: 50%;
    margin-left: -2px;

    top: 50%;
    margin-top: -54px;

    content: '';



}
.krestik:before {
    transform: rotate(45deg);
}
.krestik:after {
    transform: rotate(-45deg);
}


