.win {
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.win h1 {
    margin: 0px;
    font-size: 40px;
    color: #fefefe;
    font-weight: normal;
}

.win button {
    border: none;
    outline: none;
    background: #c5c5c5;
    width: 170px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0 3px 0 0 #9a9a9a;
    cursor: pointer;
    transition: 0.3s all;
    font-size: 18px;
    color: #4b4b4b;
}

.win button:hover {
    background: #a8a8a8;

}

