.container {
    width: 600px;
    height: 250px;
    padding: 20px;
    margin: 0 auto;
}

.container h1 {
    margin: 0;
    color: #fefefe;
    text-align: center;
    font-weight: normal;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 185px;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
}

.form input {
    width: 40%;
    padding: 5px;
    border-radius: 5px;
}

.form button {
    outline: none;
    background: none;
    position: relative;
    border: 2px solid #ef233c;
    width: 170px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0 3px 0 0 #c2283a;
    cursor: pointer;
    font-size: 18px;
    color: #e5e5e5;
    margin: 0 auto;
}

.form button:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 36px;
    background: rgba(128, 128, 128, 0.3);
    border-radius: 2px;
    transition: all 0.5s ease;
}

.form button:hover:before {
    width: 100%;
}