.score {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score .players {
    margin-top: 10px;
    font-size: 30px;
}

.score h1 {
    text-align: center;
    font-size: 35px;
}

.score .scorePlayer {
    display: flex;
    justify-content: space-between;
}

.score h1, .score .scorePlayer {
    width: 250px;
    margin: 0;
    color: #fefefe;
    font-weight: normal;
}